@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

html {
  background-color: #F49B78; /* Old browsers */

  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
  background: #FFF;
  width: 100%;
  min-width: 200px;
  max-width: 700px;
  height: 100%;
  margin: 0 auto 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.home {
  float:left;
  font-size: 15px;
  padding-right: 5px;
}
      
.menu {
    border-style:solid;
    border-color:#DDD;
    border-width:1px;
    padding: 2px 20px 2px;
    overflow:hidden;
    position: relative;
    text-align:center;
}

.menu-options {
    float: right;
    color: #AAA;
    font-size: 15px;
}

.menu-option:hover {
    color: #F1706D;
}

.title {
    padding-bottom: 10px;
    font-weight: 100;
    text-align: center;
    font-size: 4em;
    cursor: pointer; cursor: hand;
}

.errors {
    font-size: 15px;
    text-align: center; 
}

.action-card {
    padding: 40px;
    background-color: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    
    width: 100%;
    margin: 0 auto 10px;
    max-height: 70%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.title {
  padding-bottom: 5px;
  font-weight: 100;
  text-align: center;
  font-size: 4em;
}

.action-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.action-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.action-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.action-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #455c7b;
}

.action-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #6486b2;
}

.action-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.action-card a:hover {
  opacity: 1;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}